.banner {
    -fx-alignment: center;
    -fx-font-size: 30px;
    -fx-text-alignment: center;
    -fx-text-fill: #fffbfb;
}

.banner-default {
    -fx-background-color: linear-gradient(#34c6a7, #1fa98c);
    -fx-background-image: url(/images/banner.png);
    -fx-background-repeat: repeat;
    -fx-background-position: left;
}

.banner-admin {
    -fx-background-color: linear-gradient(#e07173, #ae4446);
    -fx-background-image: url(/images/banner.png);
    -fx-background-repeat: repeat;
    -fx-background-position: left;
}

.banner-clinician {
    -fx-background-color: linear-gradient(#71aee1, #135c94);
    -fx-background-image: url(/images/banner.png);
    -fx-background-repeat: repeat;
    -fx-background-position: left;
}

.button-cancel {
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-background-image: url(/icons/cancel.png);
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-confirm {
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-background-image: url(/icons/confirm.png);
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-edit {
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-background-image: url(/icons/edit.png);
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-logout {
    -fx-background-color: linear-gradient(#34c6a7, #1fa98c);
    -fx-background-radius: 4;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #fffbfb;
    -fx-border-color: #1fa98c;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-background-image: url(/icons/logout.png);
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-logout:hover {
    -fx-background-color: #46d4b6;
}

.button-logout:pressed {
    -fx-background-color: #1fa98c;
}

.button-admin-logout {
    -fx-background-color: linear-gradient(#e07173, #ae4446);
    -fx-background-radius: 4;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #fffbfb;
    -fx-border-color: #ae4446;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-background-image: url(/icons/logout.png);
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-admin-logout:hover {
    -fx-background-color: #ed8385;
}

.button-admin-logout:pressed {
    -fx-background-color: #ae4446;
}

.button-clinician-logout {
    -fx-background-color: linear-gradient(#71aee1, #135c94);
    -fx-background-radius: 4;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #fffbfb;
    -fx-border-color: #135c94;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-background-image: url(/icons/logout.png);
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-clinician-logout:hover {
    -fx-background-color: #71aee1;
}

.button-clinician-logout:pressed {
    -fx-background-color: #135c94;
}

.import-text {
    -fx-font-size: 12px;
    -fx-text-fill: #135c94;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(#71aee1, #135c94);
}

.progress-bar-green > .bar {
    -fx-background-color: linear-gradient(#34c6a7, #1fa98c);
}

.progress-bar-red > .bar {
    -fx-background-color: linear-gradient(#e07173, #ae4446);
}

.progress-bar-yellow > .bar {
    -fx-background-color: linear-gradient(#ffec4d, #e5a50d);
}


