.banner-text {
    -fx-alignment: center_left;
    -fx-font-size: 24px;
    -fx-text-alignment: left;
    -fx-text-fill: #fffbfb;
}

.banner-text-header {
    -fx-alignment: center_left;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-alignment: left;
    -fx-text-fill: #fffbfb;
}

.cell-highlighted {
    -fx-background-color: #ae4446;
    -fx-text-fill: #fffbfb;
}

.detail-background {
    -fx-background-color: #e3e3e5;
}

.detail-text {
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

.detail-text-header {
    -fx-font-size: 24px;
    -fx-text-fill: black;
}

.tab-background {
    -fx-background-color: #f4f4f4;
}
